@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

@mixin transform($transform...){
  -ms-transform:$transform; 	/// /* IE 9 */
  -moz-transform:$transform; 	/// /* Firefox */
  -webkit-transform:$transform; /// /* Safari 和 Chrome */
  -o-transform:$transform;
  transform:$transform;
}

$nav-rotate-location-percent:0.37;
$nav-rotate-deg:21.5deg;
$nav-width-percent:0.7;
$nav-height-percent:0.75;

$nav-icon-size:30px;
$nav-width-cross:25px;
$nav-cross-deg:36deg;
$nav-icon-width:round($nav-icon-size * $nav-width-percent);
$nav-icon-height:round($nav-icon-size / 15);
$nav-icon-left:round($nav-icon-size * (1-$nav-width-percent) ) / 2 - 1;
$nav-icon-top-location:round($nav-icon-size * (1 - $nav-height-percent)) -$nav-icon-height/2;
$nav-icon-middle-location:round($nav-icon-size * 0.5) -$nav-icon-height/2;
$nav-icon-bottom-location:round($nav-icon-size * $nav-height-percent) -$nav-icon-height/2;


@mixin transition($transition...){
  -moz-transition: $transition; /* Firefox 4 */
  -webkit-transition: $transition; /* Safari 和 Chrome */
  -o-transition: $transition; /* Opera */
  transition: $transition;
}

@mixin rotate($deg){
  @include transform(rotate($deg));
}

@mixin transform-origin($origin...){
  -webkit-transform-origin:$origin;
  -ms-transform-origin:$origin;
  transform-orgin:$origin;
}

.nav-icon{
  //position: absolute;
  //width:;
  width: $nav-icon-size;
  height: $nav-icon-size;
  background-color: #ccc;
  .nav-top,.nav-middle,.nav-bottom{
    position: absolute;
    width: $nav-icon-width;
    height: $nav-icon-height;
    background-color: black;
    left:$nav-icon-left;
    @include transition(all ease-in-out .2s);
    //transform:matrix(-20,-20,-30,-30,0,0);

  }
  .nav-top,.nav-bottom{
    @include transform-origin(0 $nav-icon-height/2);
  }
  .nav-top{
    top:$nav-icon-top-location;
  }
  .nav-middle{
    top:$nav-icon-middle-location;
  }
  .nav-bottom{
    top:$nav-icon-bottom-location;
  }
  &.nav-icon-back{
    .nav-top{
      @include rotate(-$nav-rotate-deg);
      //top:$nav-icon-top-rotate-location;
    }
    .nav-middle{
      opacity: 0;
    }
    .nav-bottom{
      @include rotate($nav-rotate-deg);

    }
  }
  &.nav-icon-fold{
    .nav-top{
      @include rotate($nav-rotate-deg);
    }
    .nav-middle{
      opacity: 0;
    }
    .nav-bottom{
      @include rotate(-$nav-rotate-deg);
    }
  }
  &.nav-icon-close{
    .nav-top{
      @include rotate($nav-cross-deg);
      width:$nav-width-cross;
    }
    .nav-middle{
      //opacity: 0;
    }
    .nav-bottom{
      @include rotate(-$nav-cross-deg);
      width:$nav-width-cross;
    }
  }
}