@charset "UTF-8";


*{
  margin: 0;
  padding: 0;
}


$app-menu-width:                 200px;
$app-menu-nav-height:           40px;
$app-menu-folded-width:         60px;
$app-menu-folded-nav-height:    60px;

$app-menu-dock-media:             992px;


// 768
// 992
// 1200
//xs
.app-menu{
  background-color: red;
  width: 100px;
}

//sm
@media(min-width: 768px){
  .app-menu{
    background: #000;
    width:200px;
  }
}

//md
@media(min-width: 992px){
  .app-menu{
    width: 300px;
    background: #ccc;
  }
}

//lg
@media(min-width: 1200px){
  .app-menu{
    width: 400px;
    background: #DDDDDD;
  }
}