/* line 6, ../scss/app.colors.scss */
.bg-gd {
  background: rgba(40, 50, 60, 0.075);
  background: -webkit-linear-gradient(legacy-direction(rgba(40, 50, 60, 0)), rgba(40, 50, 60, 0.075));
  background: linear-gradient(rgba(40, 50, 60, 0), rgba(40, 50, 60, 0.075));
}

/* line 10, ../scss/app.colors.scss */
.bg-gd-dk {
  background: rgba(40, 50, 60, 0.5);
  background: -webkit-linear-gradient(legacy-direction(rgba(40, 50, 60, 0) 10%), rgba(40, 50, 60, 0.5));
  background: linear-gradient(rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5));
}

/* line 14, ../scss/app.colors.scss */
.bg-light {
  background: #edf1f2;
  color: #58666e;
}
/* line 18, ../scss/app.mixin.scss */
.bg-light.lt,
.bg-light .lt {
  background-color: #f3f6f6;
}
/* line 22, ../scss/app.mixin.scss */
.bg-light.lter {
  background-color: #f6f8f8;
}
/* line 25, ../scss/app.mixin.scss */
.bg-light.dk,
.bg-light .dk {
  background-color: #e4eaec;
}
/* line 29, ../scss/app.mixin.scss */
.bg-light.dker,
.bg-light .dker {
  background-color: #dee5e7;
}

/* line 19, ../scss/app.colors.scss */
.bg-dark {
  background: #3a3f51;
  color: #a6a8b1;
}
/* line 18, ../scss/app.mixin.scss */
.bg-dark.lt,
.bg-dark .lt {
  background-color: #454b60;
}
/* line 22, ../scss/app.mixin.scss */
.bg-dark.lter {
  background-color: #4f566f;
}
/* line 25, ../scss/app.mixin.scss */
.bg-dark.dk,
.bg-dark .dk {
  background-color: #2f3342;
}
/* line 29, ../scss/app.mixin.scss */
.bg-dark.dker,
.bg-dark .dker {
  background-color: #252833;
}
/* line 40, ../scss/app.mixin.scss */
.bg-dark a {
  color: #c1c3c9;
}
/* line 42, ../scss/app.mixin.scss */
.bg-dark a:hover {
  color: #fff;
}
/* line 46, ../scss/app.mixin.scss */
.bg-dark a.list-group-item:hover, .bg-dark a.list-group-item:focus {
  background-color: inherit;
}
/* line 57, ../scss/app.mixin.scss */
.bg-dark .nav > li:hover > a, .bg-dark .nav > li:focus > a, .bg-dark .nav > li.active > a {
  color: #fff;
  background-color: #2f3342;
}
/* line 62, ../scss/app.mixin.scss */
.bg-dark .nav > li > a {
  color: #b4b6bd;
}
/* line 64, ../scss/app.mixin.scss */
.bg-dark .nav > li > a:hover, .bg-dark .nav > li > a:focus {
  background-color: #35394a;
}
/* line 70, ../scss/app.mixin.scss */
.bg-dark .nav .open > a {
  background-color: #35394a;
}
/* line 74, ../scss/app.mixin.scss */
.bg-dark .caret {
  border-top-color: #a6a8b1;
  border-bottom-color: #a6a8b1;
}
/* line 79, ../scss/app.mixin.scss */
.bg-dark.navbar .nav > li.active > a {
  color: #fff;
  background-color: #35394a;
}
/* line 85, ../scss/app.mixin.scss */
.bg-dark .open > a, .bg-dark .open > a:hover, .bg-dark .open > a:focus {
  color: #fff;
}
/* line 91, ../scss/app.mixin.scss */
.bg-dark .text-muted {
  color: #8b8e99 !important;
}
/* line 94, ../scss/app.mixin.scss */
.bg-dark .text-lt {
  color: #eaebed !important;
}
/* line 99, ../scss/app.mixin.scss */
.bg-dark.auto .list-group-item,
.bg-dark .auto .list-group-item {
  border-color: #2f3342 !important;
  background-color: transparent;
}
/* line 102, ../scss/app.mixin.scss */
.bg-dark.auto .list-group-item:hover, .bg-dark.auto .list-group-item:focus, .bg-dark.auto .list-group-item:active, .bg-dark.auto .list-group-item.active,
.bg-dark .auto .list-group-item:hover,
.bg-dark .auto .list-group-item:focus,
.bg-dark .auto .list-group-item:active,
.bg-dark .auto .list-group-item.active {
  background-color: #35394a !important;
}

/* line 24, ../scss/app.colors.scss */
.bg-black {
  background: #1c2b36;
  color: #7793a7;
}
/* line 18, ../scss/app.mixin.scss */
.bg-black.lt,
.bg-black .lt {
  background-color: #253847;
}
/* line 22, ../scss/app.mixin.scss */
.bg-black.lter {
  background-color: #2d4658;
}
/* line 25, ../scss/app.mixin.scss */
.bg-black.dk,
.bg-black .dk {
  background-color: #131e25;
}
/* line 29, ../scss/app.mixin.scss */
.bg-black.dker,
.bg-black .dker {
  background-color: #0b1014;
}
/* line 40, ../scss/app.mixin.scss */
.bg-black a {
  color: #96abbb;
}
/* line 42, ../scss/app.mixin.scss */
.bg-black a:hover {
  color: #fff;
}
/* line 46, ../scss/app.mixin.scss */
.bg-black a.list-group-item:hover, .bg-black a.list-group-item:focus {
  background-color: inherit;
}
/* line 57, ../scss/app.mixin.scss */
.bg-black .nav > li:hover > a, .bg-black .nav > li:focus > a, .bg-black .nav > li.active > a {
  color: #fff;
  background-color: #131e25;
}
/* line 62, ../scss/app.mixin.scss */
.bg-black .nav > li > a {
  color: #869fb1;
}
/* line 64, ../scss/app.mixin.scss */
.bg-black .nav > li > a:hover, .bg-black .nav > li > a:focus {
  background-color: #18242e;
}
/* line 70, ../scss/app.mixin.scss */
.bg-black .nav .open > a {
  background-color: #18242e;
}
/* line 74, ../scss/app.mixin.scss */
.bg-black .caret {
  border-top-color: #7793a7;
  border-bottom-color: #7793a7;
}
/* line 79, ../scss/app.mixin.scss */
.bg-black.navbar .nav > li.active > a {
  color: #fff;
  background-color: #18242e;
}
/* line 85, ../scss/app.mixin.scss */
.bg-black .open > a, .bg-black .open > a:hover, .bg-black .open > a:focus {
  color: #fff;
}
/* line 91, ../scss/app.mixin.scss */
.bg-black .text-muted {
  color: #5c798f !important;
}
/* line 94, ../scss/app.mixin.scss */
.bg-black .text-lt {
  color: #c4d0d9 !important;
}
/* line 99, ../scss/app.mixin.scss */
.bg-black.auto .list-group-item,
.bg-black .auto .list-group-item {
  border-color: #131e25 !important;
  background-color: transparent;
}
/* line 102, ../scss/app.mixin.scss */
.bg-black.auto .list-group-item:hover, .bg-black.auto .list-group-item:focus, .bg-black.auto .list-group-item:active, .bg-black.auto .list-group-item.active,
.bg-black .auto .list-group-item:hover,
.bg-black .auto .list-group-item:focus,
.bg-black .auto .list-group-item:active,
.bg-black .auto .list-group-item.active {
  background-color: #18242e !important;
}

/* line 29, ../scss/app.colors.scss */
.bg-primary {
  background: #7266ba;
  color: #f4f3f9;
}
/* line 18, ../scss/app.mixin.scss */
.bg-primary.lt,
.bg-primary .lt {
  background-color: #8278c2;
}
/* line 22, ../scss/app.mixin.scss */
.bg-primary.lter {
  background-color: #9289ca;
}
/* line 25, ../scss/app.mixin.scss */
.bg-primary.dk,
.bg-primary .dk {
  background-color: #6254b2;
}
/* line 29, ../scss/app.mixin.scss */
.bg-primary.dker,
.bg-primary .dker {
  background-color: #564aa3;
}
/* line 40, ../scss/app.mixin.scss */
.bg-primary a {
  color: white;
}
/* line 42, ../scss/app.mixin.scss */
.bg-primary a:hover {
  color: #fff;
}
/* line 46, ../scss/app.mixin.scss */
.bg-primary a.list-group-item:hover, .bg-primary a.list-group-item:focus {
  background-color: inherit;
}
/* line 57, ../scss/app.mixin.scss */
.bg-primary .nav > li:hover > a, .bg-primary .nav > li:focus > a, .bg-primary .nav > li.active > a {
  color: #fff;
  background-color: #6254b2;
}
/* line 62, ../scss/app.mixin.scss */
.bg-primary .nav > li > a {
  color: #f0eff6;
}
/* line 64, ../scss/app.mixin.scss */
.bg-primary .nav > li > a:hover, .bg-primary .nav > li > a:focus {
  background-color: #6a5db6;
}
/* line 70, ../scss/app.mixin.scss */
.bg-primary .nav .open > a {
  background-color: #6a5db6;
}
/* line 74, ../scss/app.mixin.scss */
.bg-primary .caret {
  border-top-color: #f4f3f9;
  border-bottom-color: #f4f3f9;
}
/* line 79, ../scss/app.mixin.scss */
.bg-primary.navbar .nav > li.active > a {
  color: #fff;
  background-color: #6a5db6;
}
/* line 85, ../scss/app.mixin.scss */
.bg-primary .open > a, .bg-primary .open > a:hover, .bg-primary .open > a:focus {
  color: #fff;
}
/* line 91, ../scss/app.mixin.scss */
.bg-primary .text-muted {
  color: #d6d3e6 !important;
}
/* line 94, ../scss/app.mixin.scss */
.bg-primary .text-lt {
  color: white !important;
}
/* line 99, ../scss/app.mixin.scss */
.bg-primary.auto .list-group-item,
.bg-primary .auto .list-group-item {
  border-color: #6254b2 !important;
  background-color: transparent;
}
/* line 102, ../scss/app.mixin.scss */
.bg-primary.auto .list-group-item:hover, .bg-primary.auto .list-group-item:focus, .bg-primary.auto .list-group-item:active, .bg-primary.auto .list-group-item.active,
.bg-primary .auto .list-group-item:hover,
.bg-primary .auto .list-group-item:focus,
.bg-primary .auto .list-group-item:active,
.bg-primary .auto .list-group-item.active {
  background-color: #6a5db6 !important;
}

/* line 34, ../scss/app.colors.scss */
.bg-success {
  background: #27c24c;
  color: #c6efd0;
}
/* line 18, ../scss/app.mixin.scss */
.bg-success.lt,
.bg-success .lt {
  background-color: #2ed556;
}
/* line 22, ../scss/app.mixin.scss */
.bg-success.lter {
  background-color: #43d967;
}
/* line 25, ../scss/app.mixin.scss */
.bg-success.dk,
.bg-success .dk {
  background-color: #23ad44;
}
/* line 29, ../scss/app.mixin.scss */
.bg-success.dker,
.bg-success .dker {
  background-color: #1e983b;
}
/* line 40, ../scss/app.mixin.scss */
.bg-success a {
  color: #eefaf1;
}
/* line 42, ../scss/app.mixin.scss */
.bg-success a:hover {
  color: #fff;
}
/* line 46, ../scss/app.mixin.scss */
.bg-success a.list-group-item:hover, .bg-success a.list-group-item:focus {
  background-color: inherit;
}
/* line 57, ../scss/app.mixin.scss */
.bg-success .nav > li:hover > a, .bg-success .nav > li:focus > a, .bg-success .nav > li.active > a {
  color: #fff;
  background-color: #23ad44;
}
/* line 62, ../scss/app.mixin.scss */
.bg-success .nav > li > a {
  color: #daf5e0;
}
/* line 64, ../scss/app.mixin.scss */
.bg-success .nav > li > a:hover, .bg-success .nav > li > a:focus {
  background-color: #25b748;
}
/* line 70, ../scss/app.mixin.scss */
.bg-success .nav .open > a {
  background-color: #25b748;
}
/* line 74, ../scss/app.mixin.scss */
.bg-success .caret {
  border-top-color: #c6efd0;
  border-bottom-color: #c6efd0;
}
/* line 79, ../scss/app.mixin.scss */
.bg-success.navbar .nav > li.active > a {
  color: #fff;
  background-color: #25b748;
}
/* line 85, ../scss/app.mixin.scss */
.bg-success .open > a, .bg-success .open > a:hover, .bg-success .open > a:focus {
  color: #fff;
}
/* line 91, ../scss/app.mixin.scss */
.bg-success .text-muted {
  color: #9ee4af !important;
}
/* line 94, ../scss/app.mixin.scss */
.bg-success .text-lt {
  color: white !important;
}
/* line 99, ../scss/app.mixin.scss */
.bg-success.auto .list-group-item,
.bg-success .auto .list-group-item {
  border-color: #23ad44 !important;
  background-color: transparent;
}
/* line 102, ../scss/app.mixin.scss */
.bg-success.auto .list-group-item:hover, .bg-success.auto .list-group-item:focus, .bg-success.auto .list-group-item:active, .bg-success.auto .list-group-item.active,
.bg-success .auto .list-group-item:hover,
.bg-success .auto .list-group-item:focus,
.bg-success .auto .list-group-item:active,
.bg-success .auto .list-group-item.active {
  background-color: #25b748 !important;
}

/* line 39, ../scss/app.colors.scss */
.bg-info {
  background: #23b7e5;
  color: #dcf2f8;
}
/* line 18, ../scss/app.mixin.scss */
.bg-info.lt,
.bg-info .lt {
  background-color: #3abee8;
}
/* line 22, ../scss/app.mixin.scss */
.bg-info.lter {
  background-color: #51c6ea;
}
/* line 25, ../scss/app.mixin.scss */
.bg-info.dk,
.bg-info .dk {
  background-color: #19a9d5;
}
/* line 29, ../scss/app.mixin.scss */
.bg-info.dker,
.bg-info .dker {
  background-color: #1797be;
}
/* line 40, ../scss/app.mixin.scss */
.bg-info a {
  color: white;
}
/* line 42, ../scss/app.mixin.scss */
.bg-info a:hover {
  color: #fff;
}
/* line 46, ../scss/app.mixin.scss */
.bg-info a.list-group-item:hover, .bg-info a.list-group-item:focus {
  background-color: inherit;
}
/* line 57, ../scss/app.mixin.scss */
.bg-info .nav > li:hover > a, .bg-info .nav > li:focus > a, .bg-info .nav > li.active > a {
  color: #fff;
  background-color: #19a9d5;
}
/* line 62, ../scss/app.mixin.scss */
.bg-info .nav > li > a {
  color: #e9f7fb;
}
/* line 64, ../scss/app.mixin.scss */
.bg-info .nav > li > a:hover, .bg-info .nav > li > a:focus {
  background-color: #1bb2e1;
}
/* line 70, ../scss/app.mixin.scss */
.bg-info .nav .open > a {
  background-color: #1bb2e1;
}
/* line 74, ../scss/app.mixin.scss */
.bg-info .caret {
  border-top-color: #dcf2f8;
  border-bottom-color: #dcf2f8;
}
/* line 79, ../scss/app.mixin.scss */
.bg-info.navbar .nav > li.active > a {
  color: #fff;
  background-color: #1bb2e1;
}
/* line 85, ../scss/app.mixin.scss */
.bg-info .open > a, .bg-info .open > a:hover, .bg-info .open > a:focus {
  color: #fff;
}
/* line 91, ../scss/app.mixin.scss */
.bg-info .text-muted {
  color: #b0e1f1 !important;
}
/* line 94, ../scss/app.mixin.scss */
.bg-info .text-lt {
  color: white !important;
}
/* line 99, ../scss/app.mixin.scss */
.bg-info.auto .list-group-item,
.bg-info .auto .list-group-item {
  border-color: #19a9d5 !important;
  background-color: transparent;
}
/* line 102, ../scss/app.mixin.scss */
.bg-info.auto .list-group-item:hover, .bg-info.auto .list-group-item:focus, .bg-info.auto .list-group-item:active, .bg-info.auto .list-group-item.active,
.bg-info .auto .list-group-item:hover,
.bg-info .auto .list-group-item:focus,
.bg-info .auto .list-group-item:active,
.bg-info .auto .list-group-item.active {
  background-color: #1bb2e1 !important;
}

/* line 44, ../scss/app.colors.scss */
.bg-warning {
  background: #fad733;
  color: #fffefa;
}
/* line 18, ../scss/app.mixin.scss */
.bg-warning.lt,
.bg-warning .lt {
  background-color: #fbdc4c;
}
/* line 22, ../scss/app.mixin.scss */
.bg-warning.lter {
  background-color: #fbe165;
}
/* line 25, ../scss/app.mixin.scss */
.bg-warning.dk,
.bg-warning .dk {
  background-color: #f9d21a;
}
/* line 29, ../scss/app.mixin.scss */
.bg-warning.dker,
.bg-warning .dker {
  background-color: #f4ca06;
}
/* line 40, ../scss/app.mixin.scss */
.bg-warning a {
  color: white;
}
/* line 42, ../scss/app.mixin.scss */
.bg-warning a:hover {
  color: #fff;
}
/* line 46, ../scss/app.mixin.scss */
.bg-warning a.list-group-item:hover, .bg-warning a.list-group-item:focus {
  background-color: inherit;
}
/* line 57, ../scss/app.mixin.scss */
.bg-warning .nav > li:hover > a, .bg-warning .nav > li:focus > a, .bg-warning .nav > li.active > a {
  color: #fff;
  background-color: #f9d21a;
}
/* line 62, ../scss/app.mixin.scss */
.bg-warning .nav > li > a {
  color: #fdf9e7;
}
/* line 64, ../scss/app.mixin.scss */
.bg-warning .nav > li > a:hover, .bg-warning .nav > li > a:focus {
  background-color: #fad527;
}
/* line 70, ../scss/app.mixin.scss */
.bg-warning .nav .open > a {
  background-color: #fad527;
}
/* line 74, ../scss/app.mixin.scss */
.bg-warning .caret {
  border-top-color: #fffefa;
  border-bottom-color: #fffefa;
}
/* line 79, ../scss/app.mixin.scss */
.bg-warning.navbar .nav > li.active > a {
  color: #fff;
  background-color: #fad527;
}
/* line 85, ../scss/app.mixin.scss */
.bg-warning .open > a, .bg-warning .open > a:hover, .bg-warning .open > a:focus {
  color: #fff;
}
/* line 91, ../scss/app.mixin.scss */
.bg-warning .text-muted {
  color: #fbf2cb !important;
}
/* line 94, ../scss/app.mixin.scss */
.bg-warning .text-lt {
  color: white !important;
}
/* line 99, ../scss/app.mixin.scss */
.bg-warning.auto .list-group-item,
.bg-warning .auto .list-group-item {
  border-color: #f9d21a !important;
  background-color: transparent;
}
/* line 102, ../scss/app.mixin.scss */
.bg-warning.auto .list-group-item:hover, .bg-warning.auto .list-group-item:focus, .bg-warning.auto .list-group-item:active, .bg-warning.auto .list-group-item.active,
.bg-warning .auto .list-group-item:hover,
.bg-warning .auto .list-group-item:focus,
.bg-warning .auto .list-group-item:active,
.bg-warning .auto .list-group-item.active {
  background-color: #fad527 !important;
}

/* line 49, ../scss/app.colors.scss */
.bg-danger {
  background: #f05050;
  color: white;
}
/* line 18, ../scss/app.mixin.scss */
.bg-danger.lt,
.bg-danger .lt {
  background-color: #f26767;
}
/* line 22, ../scss/app.mixin.scss */
.bg-danger.lter {
  background-color: #f47f7f;
}
/* line 25, ../scss/app.mixin.scss */
.bg-danger.dk,
.bg-danger .dk {
  background-color: #ee3939;
}
/* line 29, ../scss/app.mixin.scss */
.bg-danger.dker,
.bg-danger .dker {
  background-color: #ec2121;
}
/* line 40, ../scss/app.mixin.scss */
.bg-danger a {
  color: white;
}
/* line 42, ../scss/app.mixin.scss */
.bg-danger a:hover {
  color: #fff;
}
/* line 46, ../scss/app.mixin.scss */
.bg-danger a.list-group-item:hover, .bg-danger a.list-group-item:focus {
  background-color: inherit;
}
/* line 57, ../scss/app.mixin.scss */
.bg-danger .nav > li:hover > a, .bg-danger .nav > li:focus > a, .bg-danger .nav > li.active > a {
  color: #fff;
  background-color: #ee3939;
}
/* line 62, ../scss/app.mixin.scss */
.bg-danger .nav > li > a {
  color: #fce9e9;
}
/* line 64, ../scss/app.mixin.scss */
.bg-danger .nav > li > a:hover, .bg-danger .nav > li > a:focus {
  background-color: #ef4444;
}
/* line 70, ../scss/app.mixin.scss */
.bg-danger .nav .open > a {
  background-color: #ef4444;
}
/* line 74, ../scss/app.mixin.scss */
.bg-danger .caret {
  border-top-color: white;
  border-bottom-color: white;
}
/* line 79, ../scss/app.mixin.scss */
.bg-danger.navbar .nav > li.active > a {
  color: #fff;
  background-color: #ef4444;
}
/* line 85, ../scss/app.mixin.scss */
.bg-danger .open > a, .bg-danger .open > a:hover, .bg-danger .open > a:focus {
  color: #fff;
}
/* line 91, ../scss/app.mixin.scss */
.bg-danger .text-muted {
  color: #f8d3d3 !important;
}
/* line 94, ../scss/app.mixin.scss */
.bg-danger .text-lt {
  color: white !important;
}
/* line 99, ../scss/app.mixin.scss */
.bg-danger.auto .list-group-item,
.bg-danger .auto .list-group-item {
  border-color: #ee3939 !important;
  background-color: transparent;
}
/* line 102, ../scss/app.mixin.scss */
.bg-danger.auto .list-group-item:hover, .bg-danger.auto .list-group-item:focus, .bg-danger.auto .list-group-item:active, .bg-danger.auto .list-group-item.active,
.bg-danger .auto .list-group-item:hover,
.bg-danger .auto .list-group-item:focus,
.bg-danger .auto .list-group-item:active,
.bg-danger .auto .list-group-item.active {
  background-color: #ef4444 !important;
}

/* line 54, ../scss/app.colors.scss */
.bg-white {
  background-color: #fff;
  color: #58666e;
}
/* line 57, ../scss/app.colors.scss */
.bg-white a {
  color: #363f44;
}
/* line 59, ../scss/app.colors.scss */
.bg-white a:hover {
  color: #1f2427;
}
/* line 63, ../scss/app.colors.scss */
.bg-white .text-muted {
  color: #99a6ad !important;
}
/* line 64, ../scss/app.colors.scss */
.bg-white .lt,
.bg-white .lter,
.bg-white .dk,
.bg-white .dker {
  background-color: #fff;
}

/* line 71, ../scss/app.colors.scss */
.bg-white-only {
  background-color: #fff;
}

/* line 72, ../scss/app.colors.scss */
.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 75, ../scss/app.colors.scss */
.bg-black-opacity {
  background-color: rgba(32, 43, 54, 0.5);
}

/* line 80, ../scss/app.colors.scss */
a.bg-light:hover {
  color: #363f44;
}

/* line 84, ../scss/app.colors.scss */
.text-white {
  color: #fff;
}

/* line 87, ../scss/app.colors.scss */
.text-muted {
  color: #99a6ad;
}

/* line 5, ../scss/app.layout.scss */
html {
  background-color: #f0f3f4;
}

/* line 9, ../scss/app.layout.scss */
body {
  font-family: "Source Sans Pro", "Microsoft YaHei UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  background-color: transparent;
}

/* line 18, ../scss/app.layout.scss */
*:focus {
  outline: 0 !important;
}

/* line 22, ../scss/app.layout.scss */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

/* line 31, ../scss/app.layout.scss */
a {
  color: #363f44;
  text-decoration: none;
  cursor: pointer;
}

/* line 37, ../scss/app.layout.scss */
a:hover,
a:focus {
  color: #141719;
  text-decoration: none;
}

/* line 43, ../scss/app.layout.scss */
label {
  font-weight: normal;
}

/* line 47, ../scss/app.layout.scss */
small,
.small {
  font-size: 13px;
}

/* line 52, ../scss/app.layout.scss */
.badge,
.label {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* line 58, ../scss/app.layout.scss */
.badge.bg-light,
.label.bg-light {
  text-shadow: none;
}

/* line 63, ../scss/app.layout.scss */
.badge {
  background-color: #cfdadd;
}

/* line 67, ../scss/app.layout.scss */
.badge.up {
  position: relative;
  top: -10px;
  padding: 3px 6px;
  margin-left: -10px;
}

/* line 74, ../scss/app.layout.scss */
.badge-sm {
  padding: 2px 5px !important;
  font-size: 85%;
}

/* line 79, ../scss/app.layout.scss */
.label-sm {
  padding-top: 0;
  padding-bottom: 1px;
}

/* line 84, ../scss/app.layout.scss */
.badge-white {
  padding: 2px 6px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

/* line 90, ../scss/app.layout.scss */
.badge-empty {
  color: inherit;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 96, ../scss/app.layout.scss */
blockquote {
  border-color: #dee5e7;
}

/* line 100, ../scss/app.layout.scss */
.caret-white {
  border-top-color: #fff;
  border-top-color: rgba(255, 255, 255, 0.65);
}

/* line 105, ../scss/app.layout.scss */
a:hover .caret-white {
  border-top-color: #fff;
}

/* line 110, ../scss/app.layout.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 115, ../scss/app.layout.scss */
body {
  overflow-x: hidden;
}

/* line 119, ../scss/app.layout.scss */
.app {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
}
/* line 124, ../scss/app.layout.scss */
.app:before {
  content: "";
  position: absolute;
  width: inherit;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f0f3f4;
  border: inherit;
  display: block;
}

/* line 137, ../scss/app.layout.scss */
.app-header-fixed {
  padding-top: 50px;
}
/* line 139, ../scss/app.layout.scss */
.app-header-fixed .app-header {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 146, ../scss/app.layout.scss */
.app-header {
  z-index: 1025;
  border-radius: 0;
}

/* line 152, ../scss/app.layout.scss */
.app-menu {
  float: left;
}
/* line 154, ../scss/app.layout.scss */
.app-menu:before {
  content: "";
  position: absolute;
  width: inherit;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: inherit;
  border: inherit;
}

/* line 166, ../scss/app.layout.scss */
.app-menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  max-width: 200px;
}
/* line 172, ../scss/app.layout.scss */
.app-meneu-folded .app-menu-footer {
  max-width: 60px;
}
/* line 175, ../scss/app.layout.scss */
.app-menu-footer ~ div {
  padding-bottom: 50px;
}

/* line 180, ../scss/app.layout.scss */
.app-menu-right {
  padding-bottom: 50px;
}

/* line 185, ../scss/app.layout.scss */
.app-content {
  height: 100%;
}
/* line 4, ../scss/app.mixin.scss */
.app-content:before, .app-content:after {
  content: "";
  display: table;
}
/* line 9, ../scss/app.mixin.scss */
.app-content:after {
  clear: both;
}

/* line 190, ../scss/app.layout.scss */
.app-content-full {
  position: absolute;
  top: 50px;
  bottom: 50px;
  height: auto;
  width: auto !important;
  padding: 0 !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 199, ../scss/app.layout.scss */
.app-content-full.h-full {
  bottom: 0;
  height: auto;
}

/* line 205, ../scss/app.layout.scss */
.app-content-body {
  padding-bottom: 50px;
  float: left;
  width: 100%;
}

/* line 211, ../scss/app.layout.scss */
.navbar {
  border-width: 0;
  border-radius: 0;
  margin: 0;
}
/* line 212, ../scss/app.layout.scss */
.navbar .navbar-form-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 221, ../scss/app.layout.scss */
.navbar-md {
  min-height: 60px;
}
/* line 223, ../scss/app.layout.scss */
.navbar-md .navbar-btn {
  margin-top: 13px;
}
/* line 226, ../scss/app.layout.scss */
.navbar-md .navbar-form {
  margin-top: 15px;
}
/* line 229, ../scss/app.layout.scss */
.navbar-md .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 233, ../scss/app.layout.scss */
.navbar-md .navbar-brand {
  line-height: 60px;
}

/* line 239, ../scss/app.layout.scss */
.navbar-header > button {
  text-decoration: none;
  line-height: 30px;
  font-size: 16px;
  padding: 10px 17px;
  border: none;
  background-color: transparent;
}

/* line 249, ../scss/app.layout.scss */
.navbar-brand {
  float: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
}
/* line 258, ../scss/app.layout.scss */
.navbar-brand:hover {
  text-decoration: none;
}
/* line 261, ../scss/app.layout.scss */
.navbar-brand img {
  max-height: 20px;
  margin-top: -4px;
  vertical-align: middle;
}

@media (min-width: 768px) {
  /* line 269, ../scss/app.layout.scss */
  .app-menu,
  .navbar-header {
    width: 200px;
  }

  /* line 273, ../scss/app.layout.scss */
  .navbar-collapse,
  .app-content,
  .app-footer {
    margin-left: 200px;
  }

  /* line 279, ../scss/app.layout.scss */
  .app-menu-right {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }
  /* line 285, ../scss/app.layout.scss */
  .app-menu-right.pos-fix {
    z-index: 1010;
  }

  /* line 290, ../scss/app.layout.scss */
  .visible-folded {
    display: none;
  }

  /* line 295, ../scss/app.layout.scss */
  .app-menu-folded .hidden-folded {
    display: none !important;
  }
  /* line 298, ../scss/app.layout.scss */
  .app-menu-folded .visible-folded {
    display: inherit;
  }
  /* line 301, ../scss/app.layout.scss */
  .app-menu-folded .text-center-folded {
    text-align: center;
  }
  /* line 304, ../scss/app.layout.scss */
  .app-menu-folded .pull-none-folded {
    float: none !important;
  }
  /* line 307, ../scss/app.layout.scss */
  .app-menu-folded .w-auto-folded {
    width: auto;
  }
  /* line 311, ../scss/app.layout.scss */
  .app-menu-folded .app-menu,
  .app-menu-folded .navbar-header {
    width: 60px;
  }
  /* line 315, ../scss/app.layout.scss */
  .app-menu-folded .navbar-collapse,
  .app-menu-folded .app-content,
  .app-menu-folded .app-footer {
    margin-left: 60px;
  }
  /* line 321, ../scss/app.layout.scss */
  .app-menu-folded .app-header .navbar-brand {
    display: block;
    padding: 0;
  }

  /* line 331, ../scss/app.layout.scss */
  .app-menu-fixed .app-header .navbar-header {
    position: fixed;
  }
  /* line 335, ../scss/app.layout.scss */
  .app-menu-fixed .menu-wrap {
    position: fixed;
    overflow: hidden;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 1000;
  }
  /* line 343, ../scss/app.layout.scss */
  .app-menu-fixed .menu-wrap .navi-wrap {
    width: 217px;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  /* line 350, ../scss/app.layout.scss */
  .app-menu-fixed .menu-wrap .navi-wrap::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  /* line 353, ../scss/app.layout.scss */
  .app-menu-fixed .menu-wrap .navi-wrap::-webkit-scrollbar:vertical {
    width: 17px;
  }
  /* line 357, ../scss/app.layout.scss */
  .smart .app-menu-fixed .menu-wrap .navi-wrap {
    width: 200px;
  }
  /* line 362, ../scss/app.layout.scss */
  .app-menu-fixed.app-menu-folded .app-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1010;
  }
  /* line 368, ../scss/app.layout.scss */
  .app-menu-fixed.app-menu-folded .menu-wrap {
    width: 60px;
  }
  /* line 370, ../scss/app.layout.scss */
  .app-menu-fixed.app-menu-folded .menu-wrap .navi-wrap {
    width: 77px;
  }
  /* line 373, ../scss/app.layout.scss */
  .smart .app-menu-fixed.app-menu-folded .menu-wrap .navi-wrap {
    width: 60px;
    height: 100px;
  }
}

/*# sourceMappingURL=app.css.map */
