/* line 5, ../scss/app.layout.scss */
html {
  background-color: #f0f3f4;
}

/* line 9, ../scss/app.layout.scss */
body {
  font-family: "Source Sans Pro", "Microsoft YaHei UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  background-color: transparent;
}

/* line 18, ../scss/app.layout.scss */
*:focus {
  outline: 0 !important;
}

/* line 22, ../scss/app.layout.scss */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

/* line 31, ../scss/app.layout.scss */
a {
  color: #363f44;
  text-decoration: none;
  cursor: pointer;
}

/* line 37, ../scss/app.layout.scss */
a:hover,
a:focus {
  color: #141719;
  text-decoration: none;
}

/* line 43, ../scss/app.layout.scss */
label {
  font-weight: normal;
}

/* line 47, ../scss/app.layout.scss */
small,
.small {
  font-size: 13px;
}

/* line 52, ../scss/app.layout.scss */
.badge,
.label {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* line 58, ../scss/app.layout.scss */
.badge.bg-light,
.label.bg-light {
  text-shadow: none;
}

/* line 63, ../scss/app.layout.scss */
.badge {
  background-color: #cfdadd;
}

/* line 67, ../scss/app.layout.scss */
.badge.up {
  position: relative;
  top: -10px;
  padding: 3px 6px;
  margin-left: -10px;
}

/* line 74, ../scss/app.layout.scss */
.badge-sm {
  padding: 2px 5px !important;
  font-size: 85%;
}

/* line 79, ../scss/app.layout.scss */
.label-sm {
  padding-top: 0;
  padding-bottom: 1px;
}

/* line 84, ../scss/app.layout.scss */
.badge-white {
  padding: 2px 6px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

/* line 90, ../scss/app.layout.scss */
.badge-empty {
  color: inherit;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 96, ../scss/app.layout.scss */
blockquote {
  border-color: #dee5e7;
}

/* line 100, ../scss/app.layout.scss */
.caret-white {
  border-top-color: #fff;
  border-top-color: rgba(255, 255, 255, 0.65);
}

/* line 105, ../scss/app.layout.scss */
a:hover .caret-white {
  border-top-color: #fff;
}

/* line 110, ../scss/app.layout.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 115, ../scss/app.layout.scss */
body {
  overflow-x: hidden;
}

/* line 119, ../scss/app.layout.scss */
.app {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
}
/* line 124, ../scss/app.layout.scss */
.app:before {
  content: "";
  position: absolute;
  width: inherit;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f0f3f4;
  border: inherit;
  display: block;
}

/* line 137, ../scss/app.layout.scss */
.app-header-fixed {
  padding-top: 50px;
}
/* line 139, ../scss/app.layout.scss */
.app-header-fixed .app-header {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 146, ../scss/app.layout.scss */
.app-header {
  z-index: 1025;
  border-radius: 0;
}

/* line 152, ../scss/app.layout.scss */
.app-menu {
  float: left;
}
/* line 154, ../scss/app.layout.scss */
.app-menu:before {
  content: "";
  position: absolute;
  width: inherit;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: inherit;
  border: inherit;
}

/* line 166, ../scss/app.layout.scss */
.app-menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  max-width: 200px;
}
/* line 172, ../scss/app.layout.scss */
.app-meneu-folded .app-menu-footer {
  max-width: 60px;
}
/* line 175, ../scss/app.layout.scss */
.app-menu-footer ~ div {
  padding-bottom: 50px;
}

/* line 180, ../scss/app.layout.scss */
.app-menu-right {
  padding-bottom: 50px;
}

/* line 185, ../scss/app.layout.scss */
.app-content {
  height: 100%;
}
/* line 4, ../scss/app.mixin.scss */
.app-content:before, .app-content:after {
  content: "";
  display: table;
}
/* line 9, ../scss/app.mixin.scss */
.app-content:after {
  clear: both;
}

/* line 190, ../scss/app.layout.scss */
.app-content-full {
  position: absolute;
  top: 50px;
  bottom: 50px;
  height: auto;
  width: auto !important;
  padding: 0 !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 199, ../scss/app.layout.scss */
.app-content-full.h-full {
  bottom: 0;
  height: auto;
}

/* line 205, ../scss/app.layout.scss */
.app-content-body {
  padding-bottom: 50px;
  float: left;
  width: 100%;
}

/* line 211, ../scss/app.layout.scss */
.navbar {
  border-width: 0;
  border-radius: 0;
  margin: 0;
}
/* line 212, ../scss/app.layout.scss */
.navbar .navbar-form-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 221, ../scss/app.layout.scss */
.navbar-md {
  min-height: 60px;
}
/* line 223, ../scss/app.layout.scss */
.navbar-md .navbar-btn {
  margin-top: 13px;
}
/* line 226, ../scss/app.layout.scss */
.navbar-md .navbar-form {
  margin-top: 15px;
}
/* line 229, ../scss/app.layout.scss */
.navbar-md .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 233, ../scss/app.layout.scss */
.navbar-md .navbar-brand {
  line-height: 60px;
}

/* line 239, ../scss/app.layout.scss */
.navbar-header > button {
  text-decoration: none;
  line-height: 30px;
  font-size: 16px;
  padding: 10px 17px;
  border: none;
  background-color: transparent;
}

/* line 249, ../scss/app.layout.scss */
.navbar-brand {
  float: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
}
/* line 258, ../scss/app.layout.scss */
.navbar-brand:hover {
  text-decoration: none;
}
/* line 261, ../scss/app.layout.scss */
.navbar-brand img {
  max-height: 20px;
  margin-top: -4px;
  vertical-align: middle;
}

@media (min-width: 768px) {
  /* line 269, ../scss/app.layout.scss */
  .app-menu,
  .navbar-header {
    width: 200px;
  }

  /* line 273, ../scss/app.layout.scss */
  .navbar-collapse,
  .app-content,
  .app-footer {
    margin-left: 200px;
  }

  /* line 279, ../scss/app.layout.scss */
  .app-menu-right {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }
  /* line 285, ../scss/app.layout.scss */
  .app-menu-right.pos-fix {
    z-index: 1010;
  }

  /* line 290, ../scss/app.layout.scss */
  .visible-folded {
    display: none;
  }

  /* line 295, ../scss/app.layout.scss */
  .app-menu-folded .hidden-folded {
    display: none !important;
  }
  /* line 298, ../scss/app.layout.scss */
  .app-menu-folded .visible-folded {
    display: inherit;
  }
  /* line 301, ../scss/app.layout.scss */
  .app-menu-folded .text-center-folded {
    text-align: center;
  }
  /* line 304, ../scss/app.layout.scss */
  .app-menu-folded .pull-none-folded {
    float: none !important;
  }
  /* line 307, ../scss/app.layout.scss */
  .app-menu-folded .w-auto-folded {
    width: auto;
  }
  /* line 311, ../scss/app.layout.scss */
  .app-menu-folded .app-menu,
  .app-menu-folded .navbar-header {
    width: 60px;
  }
  /* line 315, ../scss/app.layout.scss */
  .app-menu-folded .navbar-collapse,
  .app-menu-folded .app-content,
  .app-menu-folded .app-footer {
    margin-left: 60px;
  }
  /* line 321, ../scss/app.layout.scss */
  .app-menu-folded .app-header .navbar-brand {
    display: block;
    padding: 0;
  }

  /* line 331, ../scss/app.layout.scss */
  .app-menu-fixed .app-header .navbar-header {
    position: fixed;
  }
  /* line 335, ../scss/app.layout.scss */
  .app-menu-fixed .menu-wrap {
    position: fixed;
    overflow: hidden;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 1000;
  }
  /* line 343, ../scss/app.layout.scss */
  .app-menu-fixed .menu-wrap .navi-wrap {
    width: 217px;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  /* line 350, ../scss/app.layout.scss */
  .app-menu-fixed .menu-wrap .navi-wrap::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  /* line 353, ../scss/app.layout.scss */
  .app-menu-fixed .menu-wrap .navi-wrap::-webkit-scrollbar:vertical {
    width: 17px;
  }
  /* line 357, ../scss/app.layout.scss */
  .smart .app-menu-fixed .menu-wrap .navi-wrap {
    width: 200px;
  }
  /* line 362, ../scss/app.layout.scss */
  .app-menu-fixed.app-menu-folded .app-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1010;
  }
  /* line 368, ../scss/app.layout.scss */
  .app-menu-fixed.app-menu-folded .menu-wrap {
    width: 60px;
  }
  /* line 370, ../scss/app.layout.scss */
  .app-menu-fixed.app-menu-folded .menu-wrap .navi-wrap {
    width: 77px;
  }
  /* line 373, ../scss/app.layout.scss */
  .smart .app-menu-fixed.app-menu-folded .menu-wrap .navi-wrap {
    width: 60px;
    height: 100px;
  }
}

/*# sourceMappingURL=app.layout.css.map */
