<div class="app" ng-class="{
  'menu-folded':app.setting.menu.folded,
  'menu-fixed':app.setting.menu.fixed,
  'menu-show':app.setting.menu.show,
  'menu-docked':app.setting.menu.docked
}">

  <nav class="header">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
          <!--<span class="sr-only">Toggle navigation</span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <a class="navbar-toggle" ng-click="app.setting.header.expand.toggle()">
          <div class="nav-expand" ng-class="{'nav-expand-up':app.setting.header.expand.up}">
            <div class="nav-expand-top"></div>
            <div class="nav-expand-bottom"></div>
          </div>
        </a>

        <a ng-click="app.setting.header.nav.toggle()" class="navbar-brand no-padder">
          <div class="nav-icon" ng-class="{'nav-icon-close':app.setting.header.nav.close,'nav-icon-left':app.setting.header.nav.left,'nav-icon-right':app.setting.header.nav.right}">
            <div class="nav-top"></div>
            <div class="nav-middle"></div>
            <div class="nav-bottom"></div>
          </div>
        </a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="animated collapse navbar-collapse" ng-class="{'in':app.setting.header.expand.up}">
        <ul class="m-l-sm nav navbar-nav">
          <li class="active"><a href="javascript:;">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="javascript:;">Link</a></li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Action</a></li>
              <li><a href="javascript:;">Another action</a></li>
              <li><a href="javascript:;">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="javascript:;">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="javascript:;">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:;">Link</a></li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Action</a></li>
              <li><a href="javascript:;">Another action</a></li>
              <li><a href="javascript:;">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="javascript:;">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->



    <i class="glyphicon glyphicon-arrow-up"></i>
  </nav>

  <div class="header-menu">

  </div>

  <div class="menu">

    <a ui-sref="frame.dep">dep</a>
    <a ui-sref="frame.dep2">dep2</a>

  </div>

  <div class="content">
    <div class="load-bar"></div>
    <div ui-view></div>
  </div>

  <div class="mobile-mask">

  </div>

</div>